name: mahmoud_task_trust
description: "food app"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_bloc: ^8.1.3
  dio: ^5.3.3
  get_it: ^7.6.4
  injectable: ^2.3.2
  dartz: ^0.10.1
  freezed_annotation: ^2.4.1
  equatable: ^2.0.5
  cached_network_image: ^3.3.0
  flutter_svg: ^2.0.7
  shared_preferences: ^2.2.2


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  build_runner: ^2.4.6
  injectable_generator: ^2.4.1
  freezed: ^2.4.5
  json_serializable: ^6.7.1

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/
